In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('./Recurrent_Trans.csv', usecols=[*range(0,7)], 
                 names=['period', 'src_account', 'datetime', 'amount', 'dest_account', 'dest_bank', 'tran_particulars']
                 , header=None, converters={'src_account':str,'dest_account':str})

In [50]:
# df = pd.read_csv('./api_db.csv', usecols=['CIF_ID', 'foracid', 'txnDateTime', 'particulars', 'tran_amt']
#     , names=['cif_id', 'foracid', 'txnDateTime', 'txnParticulars', 'amount'], 
#     converters={'cif_id': str, 'foracid':str,'txnDateTime':str})[['foracid', 'txnDateTime', 'txnParticulars', 'amount']]

df = pd.read_csv('./api_db.csv', usecols=[1,2,3,4,5,6],
                 names=['srcAcct', 'destAcct', 'amount', 'beneficiaryName','dest_bank_code','destBank'],
                 skiprows=1,
    converters={'srcAcct': str, 'destAcct':str,'dest_bank_code':str})

In [51]:
df.head()

,srcAcct,destAcct,amount,beneficiaryName,dest_bank_code,destBank
0,234567891,345678912,223.0,xy,1,GTB
1,234567892,345678913,100000.0,m,2,Access Bank Plc (Diamond)
2,234567893,345678914,25000.0,xlfz,3,FIDELITY
3,234567894,345678915,25000.0,w,4,GTB
4,234567895,345678916,25000.0,rovzj,5,GTB

In [26]:
foracid = '9200076526'

In [28]:
df[df['src_account'] == foracid]

,period,src_account,datetime,amount,dest_account,dest_bank,tran_particulars
591,jan,9200076526,2021-01-26 00:00:00,150000.0,0028859522,GTB,MB TRF Monthly Allowance
1271,jan,9200076526,2021-01-06 00:00:00,17000.0,0000403121,GTB,MB TRF FemiJanuary
4052,jan,9200076526,2021-01-17 00:00:00,5000.0,0212000112,ECOBANK,MB TRF Benevolence Dr Oyetunj
4819,jan,9200076526,2021-01-24 00:00:00,400000.0,0111660448,GTB,MB TRF TitheDr Oyetunji
6455,jan,9200076526,2021-01-26 00:00:00,150000.0,2000105796,UBA,MB TRF Monthly Allowance

In [29]:
dd = df[df['src_account'] == foracid]

In [32]:
dd

,period,src_account,datetime,amount,dest_account,dest_bank,tran_particulars
591,jan,9200076526,2021-01-26 00:00:00,150000.0,0028859522,GTB,MB TRF Monthly Allowance
1271,jan,9200076526,2021-01-06 00:00:00,17000.0,0000403121,GTB,MB TRF FemiJanuary
4052,jan,9200076526,2021-01-17 00:00:00,5000.0,0212000112,ECOBANK,MB TRF Benevolence Dr Oyetunj
4819,jan,9200076526,2021-01-24 00:00:00,400000.0,0111660448,GTB,MB TRF TitheDr Oyetunji
6455,jan,9200076526,2021-01-26 00:00:00,150000.0,2000105796,UBA,MB TRF Monthly Allowance

In [34]:
dd.to_json(orient='records')

'[{"period":"jan","src_account":"9200076526","datetime":"2021-01-26 00:00:00","amount":150000.0,"dest_account":"0028859522","dest_bank":"GTB","tran_particulars":"MB TRF  Monthly Allowance"},{"period":"jan","src_account":"9200076526","datetime":"2021-01-06 00:00:00","amount":17000.0,"dest_account":"0000403121","dest_bank":"GTB","tran_particulars":"MB TRF  FemiJanuary"},{"period":"jan","src_account":"9200076526","datetime":"2021-01-17 00:00:00","amount":5000.0,"dest_account":"0212000112","dest_bank":"ECOBANK","tran_particulars":"MB TRF  Benevolence Dr Oyetunj"},{"period":"jan","src_account":"9200076526","datetime":"2021-01-24 00:00:00","amount":400000.0,"dest_account":"0111660448","dest_bank":"GTB","tran_particulars":"MB TRF  TitheDr Oyetunji"},{"period":"jan","src_account":"9200076526","datetime":"2021-01-26 00:00:00","amount":150000.0,"dest_account":"2000105796","dest_bank":"UBA","tran_particulars":"MB TRF  Monthly Allowance"}]'